.textarea-comp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textarea-container {
    display: flex;

    .textarea-label {
      margin-right: 10px;
      text-align: right;
      font-size: 32px;
      color: #333;
    }
    
    .textarea-label-required {
      &::before {
        content: '*';
        margin-right: 10px;
        color: red;
      }
    }

    .textarea {
      box-sizing: border-box;
      width: 100%;
      line-height: 1.4;
      font-size: 32px;
      text-align: justify;
      color: #49434d;
    }
  }

  .textarea-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }

  .textarea-limit {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 26px;
    color: #666;
  }
}
