
// 页面背景色
$PAGE_BACKGROUND_COLOR: #f6f6f6;
// 主题色
$THEME_COLOR: #1890f3;
// 告警色
$DANGER_COLOR: #F56C6C;
// 成功色
$OK_COLOR: #20b759;

// 按钮颜色
$BTN_COLOR1: #dedede;
$BTN_COLOR2: #429feb;
$BTN_COLOR3: #F56C6C;

$FONT_COLOR0: rgba(0, 0, 0, 1);
$FONT_COLOR1: rgba(0, 0, 0, 0.9);
$FONT_COLOR2: rgba(0, 0, 0, 0.8);
$FONT_COLOR3: rgba(0, 0, 0, 0.7);
$FONT_COLOR4: rgba(0, 0, 0, 0.6);
$FONT_COLOR5: rgba(0, 0, 0, 0.5);
$FONT_COLOR6: rgba(0, 0, 0, 0.4); // 图标的颜色

$FONT_SIZE0: 40px; // 超大标题
$FONT_SIZE1: 34px; // 大标题
$FONT_SIZE2: 32px; // 小标题
$FONT_SIZE3: 30px; // 正常字号
$FONT_SIZE4: 28px; // 小字号
$FONT_SIZE5: 26px; // 超小字号